@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}

.animate-delay-200 {
  animation-delay: 0.2s;
}

.animate-delay-400 {
  animation-delay: 0.4s;
}
html,
body,
#root {
  height: 100%;
  background-color: #001220;
  background-image: radial-gradient(
      circle at 30% 40%,
      rgba(250, 114, 104, 0.25),
      transparent 70%
    ),
    radial-gradient(
      circle at 70% 60%,
      rgba(198, 35, 104, 0.25),
      transparent 70%
    );

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
@keyframes pulse-slow {
  0%, 100% {
    transform: scale(1);
    opacity: 0.35;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.45;
  }
}

.animate-pulse-slow {
  animation: pulse-slow 10s ease-in-out infinite;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slideInLeft 2s ease-out forwards;
}

.animate-slide-in-right {
  animation: slideInRight 2s ease-out forwards;
}

.animation-delay-200 {
  animation-delay: 0.1s;
}

.animation-delay-400 {
  animation-delay: 0.2s;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 1.2s ease-out forwards;
  animation-delay: 0.6s;  
}
